xml/lexicon.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT lexicon (category*)>
	<!ELEMENT category (name, english, german, term*)>
		<!ELEMENT name (#PCDATA)>
		<!ELEMENT english (#PCDATA)>
		<!ELEMENT german (#PCDATA)>
		<!ELEMENT term (field*)>
		<!ATTLIST term termId ID #REQUIRED>
			<!ELEMENT field (#PCDATA)>
			<!ATTLIST field type CDATA #REQUIRED>